:root{
    box-sizing: border-box;
    
}
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
ul{
    list-style: none;
}


.header{
    height: 32%;
    position: relative;
}
.header .header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header-content h1 {
    text-align: center;
    /* font-family: 'Molle', cursive;
    font-family: 'Courgette', cursive; */
    font-family: 'Berkshire Swash', cursive;
}

.image-wrapper {
    display: flex;
    justify-content: center;
}
.header-content .image-wrapper img{
    width: 30%;
}
.wrapper {
    margin: 40em auto;
    border: 5px solid #E63C25;
    height: 297mm;
    width: 210mm;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.main {
    height: 64%;
}
.main-left, .main-right{
    padding: 0 2em;
    float: left;
    width: 50%;
    height: 100%;
}
.main-left {
    border-right: 2px solid black;
}